<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <include file="nlog-*.config" ignoreErrors="true"/>

  <targets async="true">
    <target name="performanceLog" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/performance/log_${shortdate}.csv">
      <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="false">
        <column name="time" layout="${longdate}" />
        <column name="ChainName" layout="${event-properties:ChainName}"/>
        <column name="ChainCode" layout="${event-properties:ChainCode}"/>
        <column name="MethodName" layout="${event-properties:MethodName}"/>
        <column name="ClassName" layout="${event-properties:ClassName}"/>
        <column name="Elapsed" layout="${event-properties:Elapsed}"/>
        <column name="ProcessID" layout="${processid}"/>
      </layout>
    </target>
    <target name="file" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/log.txt" />
    <target name="validation" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/validation.txt" />
  </targets>

  <rules>
    <logger name="Tessa.Performance.*" minlevel="Trace" writeTo="performanceLog" final="true" />
    <logger name="Validation" minlevel="Info" writeTo="validation" final="true" />
    <logger name="Validation" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>
