# Custom folders
Source/.vs
Source/Bin/extensions/*
Source/Bin/Tessa.Chronos/*
Source/Bin/Tessa.Extensions.Chronos/*
Source/Bin/Tessa.Extensions.Client/*
Source/Bin/Tessa.Extensions.Server/*
Source/Bin/Tessa.Extensions.Console/*
Source/Bin/Tessa.Module.Sample.Client/*
Source/Bin/Tessa.Module.Sample.Server/*
Source/**/bin/Debug/*
Source/**/bin/Release/*
Source/**/obj/Debug/*
Source/**/obj/Release/*
Source/**/obj/*.json
Source/**/obj/*.cache
Source/**/obj/*.props
Source/**/obj/*.targets

Supply
SupplyBuild.bat
SupplyBuild.initial.bat
SupplyConfiguration/configuration_*.json
SupplyDeploy.bat

WebClient SDK/node_modules
WebClient SDK/package-lock.json
WebClient SDK/wwwroot/extensions
WebClient SDK/package-lock.json
Tools
Scripts/GenerateTemplatesWeb.bat
