.progress-dialog {
  border-radius: 4px;
  outline: none;
  padding: 20px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1.25rem;
}

.progress-dialog-content {
  padding: 15px;
  text-align: center;
}
