app-local*.json
/Source/.idea
/Source/.vs
/Source/Bin/extensions/*
/Source/Bin/Tessa.Chronos/*
/Source/Bin/Tessa.Extensions.Chronos/*
/Source/Bin/Tessa.Extensions.Client/*
/Source/Bin/Tessa.Extensions.Console/*
/Source/Bin/Tessa.Extensions.Server/*
/Source/Bin/Tessa.Module.Sample.Client/*
/Source/Bin/Tessa.Module.Sample.Server/*
/Source/logs
/Source/web/dts/*
/Source/web/node_modules/*
/Source/web/wwwroot/extensions/*
/Source/web/*-api-manifest.json
/Source/**/bin/Debug/*
/Source/**/bin/Release/*
/Source/**/obj/Debug/*
/Source/**/obj/Release/*
/Source/**/obj/*.json
/Source/**/obj/*.cache
/Source/**/obj/*.props
/Source/**/obj/*.targets
/Source/**/NLog.config
/Source/**/pre-build.bat
/Source/**/post-build.bat
/Source/**/project.assets.json
/tools
/Tools
*.csproj.user
*.DotSettings.user
*.suo
~$*.docx
~$*.xlsx
