{
	"Settings": {
		"BaseAddress": "https://localhost/arigamix",
		"LogoText": "ARIGAMIX",

		"FadeAllowed": true,
		"ExtensionTracingMode": "Off",

		"//ProxyUri": "http://127.0.0.1:8888",
		"//ProxyClass": "Tessa.UI.LoginDialogProxy, Arigamix.UI"
	}
}
