<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets async="true">
    <target name="file" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/log/log_${shortdate}.txt" />
    <target name="session" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/session/session_${shortdate}.txt" />
    <target name="servicehost" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/servicehost/servicehost_${shortdate}.txt" />
    <target name="queries" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/queries/queries_${shortdate}.txt" layout="--${longdate}${newline}${message}${newline}GO${newline}" />
    <target name="process" xsi:type="File" encoding="utf-8" writeBom="true" fileName="${basedir}/logs/process/process_${shortdate}.txt" layout="${longdate}${newline}${message}${newline}" />
    <target name="null" xsi:type="Null" formatMessage="false"  />
  </targets>

  <rules>
    <logger name="SqlQueries" minlevel="Error" writeTo="queries" final="true" />
    <logger name="SqlQueries" minlevel="Trace" writeTo="null" final="true" />
    <logger name="Process" minlevel="Error" writeTo="process" final="true" />
    <logger name="Process" minlevel="Trace" writeTo="null" final="true" />
    <logger name="Session" minlevel="Error" writeTo="session" final="true" />
    <logger name="Session" minlevel="Trace" writeTo="null" final="true" />
    <logger name="ServiceHost" minlevel="Error" writeTo="servicehost" final="true" />
    <logger name="ServiceHost" minlevel="Trace" writeTo="null" final="true" />
    <logger name="Configuration" minlevel="Info" writeTo="file" final="true" />
    <logger name="Configuration" minlevel="Trace" writeTo="null" final="true" />
    <logger name="Quartz.*" minlevel="Error" writeTo="file" final="true" />
    <logger name="Quartz.*" minlevel="Trace" writeTo="null" final="true" />
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>

</nlog>
